
body {
  font-family: Roboto;
  font-size: 16px;
}

th {
  padding: 5px 10px;
  min-width: 90px;
}

td {
  padding: 3px;
  color: grey;
  text-align: center;
}

[contenteditable=true] {
  cursor: pointer;
}

.heading {
  color: #157dff;
}

.filename {
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  color: #157dff;
}

.when, .then {
  font-weight: bold;
  min-width: 200px;
  color: #157dff;
  background: #ececec;
  padding: 5px;
  border-bottom: 2px solid #ececec;
}

.enums {
  padding: 2px 0px;
  font-size: 12px;
  color: #862bff;
}

.filter {
  color: #ff1515;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  text-align: center;
  color: #d8d8d8;
  background-color: transparent;
}
