
body {
  font-family: Roboto;
  font-size: 16px;
}

th {
  padding: 5px 10px;
}

td {
  padding: 3px;
  color: grey;
  text-align: center;
}

[contenteditable=true] {
  cursor: pointer;
}

.heading {
  color: #157dff;
}

.when, .then {
  font-weight: bold;
  min-width: 200px;
  color: #157dff;
  background: #ececec;
  padding: 5px;
  border-bottom: 2px solid #ececec;
}

.enums {
  padding: 2px 0px;
  font-size: 12px;
  color: #862bff;
}
